@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* * {
  border: 1px solid red;
} */

.home-section {
  display: flex;
  flex-direction: row;
}

.logo-section {
  text-align: center;
  color: #0dd27a;
  width: 100%;
  background-color: #faf1ea;
  font-family: "Rubik", sans-serif;
}

.input-search {
  width: 420px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0F0096;
  /* background-color: rgb(51, 71, 91); */
  border: 1px solid black;
}

.input-search > input {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
}

.home-icon {
  color: #faf1ea;
  font-size: 1.5em;
}

.list-container {
  border: 1px solid #363636;
  width: 420px;
  background-color: #0DD27A;
}

.item {
  border: 1px solid #363636;
}


.movie-name {
  text-decoration: none;
  color: #313131;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  width: 420px;
  height: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0dd27a;
}

.movie-name:hover {
  background-color: #aae68e;
}


.container {
  display: flex;
  flex-direction: row;
}

.cover-img {
  width: 300px;
}

.info-container {
  display: flex;
  flex-direction: row;
  padding: 40px 30px;
  background-color: #faf1ea;
  color: #313131;
  align-items: flex-start;
}

.info-text {
  padding: 0px 20px;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

h2 {
  font-weight: 550;
  font-size: 1.8em;
  margin-top: 5px;
}

.overview {
  text-align: justify;
}
